<table>
	<thead>
		<tr>
			<%= content_tag( 'td', 'Category' ) %>
			<%= content_tag( 'td', 'Score' ) %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Details' ) %>
			<%= content_tag( 'td', link_to( scores.inline_detail_score, detail_score_show_url( :detail_score => scores.detail_score_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Performance' ) %>
			<%= content_tag( 'td', link_to( scores.inline_performance_score, performance_score_show_url( :performance_score => scores.performance_score_id ) ) ) %>
		<tr>
			<%= content_tag( 'td', 'Power' ) %>
			<%= content_tag( 'td', link_to( "#{scores.number_of_coaches} coaches", power_score_show_url( :power_score => scores.haulage_capability_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Mechanism' ) %>
			<%= content_tag( 'td', link_to( scores.inline_mechanism_score, mechanism_score_show_url( :mechanism_score => scores.mechanism_score_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Quality' ) %>
			<%= content_tag( 'td', link_to( scores.inline_quality_score, quality_score_show_url( :quality_score => scores.quality_score_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Value' ) %>
			<%= content_tag( 'td', link_to( scores.inline_value_score, value_score_show_url( :value_score => scores.value_score_id ) ) ) %>
		</tr>
	</tbody>
</table>