<%= content_tag( 'h1', 'Reviews' ) %>

<%= render :partial => 'view_switch' %>

<table>
	<thead>
		<tr>
			<%= content_tag( 'td', link_to( 'Published', review_grid_url ) ) %>
			<%= content_tag( 'td', link_to( 'Part of train set', review_grid_url( :order => 'train-set' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Manufacturer', review_grid_url( :order => 'manufacturer' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Scale', review_grid_url( :order => 'scale' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Operator', review_grid_url( :order => 'operator' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Class', review_grid_url( :order => 'locomotive-class' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Livery', review_grid_url( :order => 'livery' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Detail', review_grid_url( :order => 'detail-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Performance', review_grid_url( :order => 'performance-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Power', review_grid_url( :order => 'power-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Mechanism', review_grid_url( :order => 'mechanism-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Quality', review_grid_url( :order => 'quality-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Value', review_grid_url( :order => 'value-score' ) ) ) %>
			<%= content_tag( 'td', link_to( 'Overall', review_grid_url( :order => 'overall-score' ) ) ) %>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'review_row', :collection => @reviews %>
	</tbody>
</table>