<table>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Scale:' ) %>
			<%= content_tag( 'td', details.scale_name ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Manufacturer:' ) %>
			<%= content_tag( 'td', details.manufacturer_name ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Class:' ) %>
			<%= content_tag( 'td', details.locomotive_class_name ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Operator:' ) %>
			<%= content_tag( 'td', details.operator_name ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Livery:' ) %>
			<%= content_tag( 'td', details.livery_name ) %>
		</tr>
	</tbody>
</table>