<table>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'Scale:' ) %>
			<%= content_tag( 'td', link_to( details.scale_name, scale_show_url( :scale => details.scale_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Manufacturer:' ) %>
			<%= content_tag( 'td', link_to( details.manufacturer_name, manufacturer_show_url( :manufacturer => details.manufacturer_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Class:' ) %>
			<%= content_tag( 'td', link_to( details.locomotive_class_name, class_show_url( :class => details.locomotive_class_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Operator:' ) %>
			<%= content_tag( 'td', link_to( details.operator_name, operator_show_url( :operator => details.operator_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'Livery:' ) %>
			<%= content_tag( 'td', link_to( details.livery_name, livery_show_url( :livery => details.livery_id ) ) ) %>
		</tr>
	</tbody>
</table>