<!DOCTYPE html>
<html>
	<head>
		<title>SamsTrains</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
		<header>
			<%= content_tag( 'p', link_to( "Sam's Trains", home_url ) ) %>
			<nav>
				<%= link_to( 'Reviews', review_list_url ) %>
				&bull;
				<%= link_to( 'Models', model_list_url )  %>
				&bull;
				<%= link_to( 'Scales', scale_list_url ) %>
				&bull;
				<%= link_to( 'Manufacturers', manufacturer_list_url ) %>
				&bull;
				<%= link_to( 'Classes', class_list_url ) %>
				&bull;
				<%= link_to( 'Operators', operator_list_url ) %>
				&bull;
				<%= link_to( 'Liveries', livery_list_url ) %>
				&bull;
				<%= link_to( 'Detail scores', detail_score_list_url ) %>
				&bull;
				<%= link_to( 'Performance scores', performance_score_list_url ) %>
				&bull;
				<%= link_to( 'Power scores', power_score_list_url ) %>
				&bull;
				<%= link_to( 'Mechanism scores', mechanism_score_list_url ) %>
				&bull;
				<%= link_to( 'Quality scores', quality_score_list_url ) %>
				&bull;
				<%= link_to( 'Value scores', value_score_list_url ) %>
			</nav>
		</header>
		<main>
			<%= yield %>
		</main>
	</body>
</html>
